<h2>Listado de productos</h2>

{{#if products.length}}
    <div class="products-grid">
        {{#each products}}
            <div class="product-card">
                <img class="product-img" src="{{thumbnails.[0]}}" alt="{{title}}">
                <h3>{{title}}</h3>
                <p class="price">$ {{price}}</p>
                <p class="category">{{category}}</p>
                <p class="stock">Stock: {{stock}}</p>
                <div class="card-actions">
                    <a class="btn btn-secondary" href="/products/{{_id}}">Ver detalles</a>
                    <button class="btn btn-primary add-cart" data-id="{{_id}}">Agregar al carrito</button>
                </div>
        </div>
        {{/each}}
    </div>

    <div class="pagination">
        {{#if hasPrevPage}}
            <a class="btn" href="/products?page={{prevPage}}">Anterior</a>
        {{/if}}

        <span>Página {{page}} de {{totalPages}}</span>

        {{#if hasNextPage}}
            <a class="btn" href="/products?page={{nextPage}}">Siguiente</a>
        {{/if}}
    </div>
{{else}}
    <p>No se encontraron productos momentáneamente</p>
{{/if}}